.grillaAppContainer {
	height: 100vh;
	.__pageContent {
		overflow: auto;
	}
}

#GrillaApp {
	overflow: hidden;
	display: flex;
	height: 100vh;
	.__options {
		background-color: $gray-700;
		display: flex;
		.__pannel {
			border-right: solid .1rem $gray-600;
			width: 32rem;
			padding: $s-4;
			box-sizing: border-box;
			height: 100%;
			overflow: hidden;
			&.__posibilities {
				width: 15rem;
				display: flex;
				flex-direction: column;
				padding-bottom: 0;
			}
			.--s {
				overflow-y: scroll;
				margin-right: -2rem;
				padding: 0 1rem 0 0;
				position: relative;
			}
			header {
				width: 100%;
				border-bottom: solid .1rem $gray-600;
				padding-bottom: $s-4;
				.logo {
					display: inline-block;
					img {
						width: min(100%, 200px);
					}
				}
			}
		}
	}
	.__output {
		padding: 0 $s-3;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		.__renderPage {
			flex-grow: 1;
		}
		.__renderData {
			//height: 15rem;
			border-top: solid .1rem $gray-600;
			padding-top: 2rem;
			.col {
				display: flex;
				grid-gap: $s-7;
				& > * {
					flex: 1;
				}
			}
			h3 {
				margin-bottom: 1rem;
			}
			label {
				color: $gray-300;
				display: block;
				margin-bottom: $s-3;
				strong {
					float: right;
					color: $gray-500;
				}
			}
		}
	}
	h3 {
		color: $gray-400;
		font-weight: 400;
		font-size: 1.3rem;
		text-transform: uppercase;
		letter-spacing: .2rem;
		padding-bottom: $s-2;
		border-bottom: .1rem solid $gray-400;
		&:not(:first-child) {
			margin-top: $s-6;
		}
	}
	.__halfInputs {
		display: flex;
		justify-content: space-between;
		margin: $s-3 0;
		.InputContainer:first-child {
			margin-right: $s-4;
		}
		.InputContainer {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.__posibilities {
		&>p {
			color: #ffec3d;
			font-weight: bold;
			text-align: center;
			font-size: 1.3rem;
		}
		.--with--s {
			position: relative;
			padding-bottom: $s-1;
		}
		.--with--s:after {
			content: '';
			display: block;
			position: absolute;
			top: 100%;
			width: 100%;
			height: 2rem;
			background: linear-gradient(rgba(37, 37, 38, 1), rgba(37, 37, 38, 0));
			z-index: 2;
		}
	}
}